@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>优护送统计登录</title>
    <link href="~/Content/login.css" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/JqueryJS")

    <script type="text/javascript">
        $(function () {

            $("#btnLogin").click(function () {
                submit();
            });

            $('#userpwd').keypress(function (event) {
                if (event.keyCode == "13") {
                    submit();
                }
            });
        });

        function submit() {
            $.ajax({
                type: 'Post',
                async: false, //设置同步方式
                url: '@Url.Content("~/Home/ValidateUser")',
                data:
           {
               loginName: $("#username").val(),
               pwd: $("#userpwd").val()
           },
                success: function (jsonObj) {
                    $.handleJsonResult(jsonObj, function () {
                        window.location = jsonObj.RedirectURL;
                    });
                },
                error: function (data) {
                    alert(data.statusText);
                }
            });
        };

    </script>
</head>

<body class="login">

    <div class="login_m">
        <div class="login_logo"><img src="~/Images/logo.png" width="177" height="88" /></div>

        <div class="login_boder">
            <div class="login_padding">
                <h2>用户名</h2>
                <label>
                    <input type="text" id="username" class="txt_input txt_input2" value="" />
                </label>
                <h2>密码</h2>
                <label>
                    <input type="password" name="userpwd" id="userpwd" class="txt_input" value="" />
                </label>
                <p class="forgot"></p>
                <div class="rem_sub">
                    <label>
                        <input type="submit" class="sub_button" name="button" id="btnLogin" value="登录" />
                    </label>
                </div>
            </div>
        </div><!--login_boder end-->
    </div><!--login_m end-->

</body>
</html>